html { 
    background: url("https://cdn-s3.si.com/s3fs-public/johnny-lindell-getty2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .computer-cards{
    z-index:2;
    height:20vh;
    display: flex;
    justify-content: center;
  }
  .player-cards{
    z-index:2;
    height:20vh;
    display: flex;
    justify-content: center;
  }
  .computer-card{
    height:20vh;
    z-index:3;
    opacity: 1;
  }
  .rot-divs{
    height:20vh;
    width:10vh;
  }
  .card{
    height:20vh;
    z-index:3;
    opacity: 1;
    transition: .5s ease;
  }
  .on-base{
    background-color: orange !important;
  }
  .whole-game{
    display: flex;
    flex-direction: column;
  }
  .is-out{
    background-color: red !important;
  }
  .out {
    height: 3vh;
    width: 3vh;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
  }
  .card:hover{
    opacity: 0.8;
    transform: translateY(-2vh);
  }
  .deck{
    height:20vh;
    z-index:3;
    margin-right: 50px;
  }
  .deck2{
    height:20vh;
    z-index:3;
    margin-left: 50px;
  }
  .player-cards:hover .image{
    opacity: 0.3;
  }
  .player-cards:hover .middle{
    opacity: 1;
  }
  .text{
    color: white;
    font-size: 16px;
  }
  .playing-field{
    z-index:2;
    height:40vh;
    bottom: 20vh;
  }
  #first-base{
      top:40vh;
      right:4vh;
  }
  #second-base{
      top:37vh;
      right:7vh;
  }
  #third-base{
      top:40vh;
      right:10vh;
  }
  .base{
      position:absolute;
      height:3vh;
      width:3vh;
      -webkit-transform: rotate(-45deg);
      border:1px solid white;
      background-color:white;
      z-index: 1000;
  }
  .pointer{
    pointer-events: none;
  }
  .bases{
    position: fixed;
    z-index:5;
    top: 1vh;
    right: 2vh;
  }
  .outs{
    position: fixed;
    z-index: 5;
    top:48vh;
    right: 5.5vh;
  }
  .card {
    height: 20vh;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }

.container {
    position: relative;
}

.text-block {
  font-size: 6;
  position: relative;
  z-index: 7;
  bottom: 20px;
  color: black;
  background-color: white;
  text-align: center;
}

  .card.is-flipped {
   transform: rotateY(180deg);
    opacity: 1;
  }
  .card__face {
    position: absolute;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .card__face--front {

  }
  .card__face--back {
     transform: translateX(4deg);
     text-rendering: "yo";
  }

  .computer-in-play{
     position:absolute;
     left: 80vh;
      top: 30vh;
    pointer-events: none;
    z-index: 7;
  }

  .in-play{
    position:absolute;
    left: 50vh;
    top: 35vh;
    pointer-events: none;
  }

  .low-card{
  padding-left: 5px; 
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: red;
  }
  .mid-card{
    padding-left: 5px; 
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: blue;
  }
  .high-card{
    padding-left: 5px; 
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: green;
  }
  .legendary-card{
    padding-left: 5px; 
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: gold;

  }
  .Babe-Ruth-card{
    padding-left: 5px; 
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: purple;
  }